<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>机器学习部署应用</title>

</head>


 <div class="login">
	<h1>浏览量预测</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="点赞数" placeholder="点赞数" required="required" />
		<input type="text" name="转发数" placeholder="转发数" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">预测浏览量</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>